/*

Name: Birdie Place
Background: White
Color: Black
Type: Flat
Preview: theme.birdie-place.jpg

*/

// Import a style, for example `Fuse`
@import "../../yootheme/less/theme.design-escapes.less";

// Import a style variation, for example `dark-yellow`
@import "../../yootheme/vendor/assets/uikit-themes/master-design-escapes/_import.less";

// Add custom Less code here



